.hero-container {
  background-color: rgb(224, 180, 0);
  padding: 0 10px;
}

.promotion-message-container {
  align-items: center ;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.win-money-text {
  color: #1b1b1b;
  font-family: Kanit, sans-serif; 
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}

.qr-code-section {
  background-color: #1b1b1b;
  border-radius: 8px; 
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 20px;
}

.qr-code-section-text {
  align-items: center;
  background-color: #1b1b1b;
  color: #f0f0f0;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  line-height: 25px;
}

.qr-code-section-image {
  border-radius: 4px;
  height: 80px;
  width: auto;
}

.phone-image {
  height: 215px;
  max-width: 40%;
  width: auto;
}

.content-part {
  padding: 20px;
  margin: 10px;
}

@media (min-width: 600px) {
  .responsive-container {
    flex-direction: row;
  }

  .content-part {
    flex: 1; /* Each part takes equal width */
  }
}

.center {
  margin: auto;
  text-align: center;
}
