.player-pick-em-card-container {
  background-color: #f0f0f0;
  border-radius: 10px;
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  font-family: roboto, sans-serif;
  font-size: 18px;
  height: 135px;
  margin: auto;
  position: relative;
  width: 320px;
}

.player-pick-em-card-row {
  align-items: center;
  column-gap: 10px;
  display: flex;
  margin: 10px 10px;
}

.player-pick-em-hr{
    margin: 0px;
}
.player-pick-em-diagonal-lines {
    background: linear-gradient(to bottom right, red 50%, blue 50%);
    border-radius: 10px 0px 0px 0px;
    height: 45px;
    left:0;
    position: absolute;
    top:0;
    width: 50px;
    z-index: 0;
  }

.player-pick-em-image {
    align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  z-index: 1;
}

.player-pick-em-name {
  font-weight: 600;
}

.player-pick-em-stats {
  text-align: center;
}

.player-pick-em-button-container {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.player-pick-em-card-button {
  background-color: #e4e4e4;
  border-radius: 10px;
  height: 40px;
  width: auto;
  padding: 0px 10px;
}
