.player-pick-em-card-container {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  font-family: roboto, sans-serif;
  font-size: 16px;
  height: 135px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.player-pick-em-card-row {
  align-items: center;
  column-gap: 10px;
  display: flex;
  margin: 10px 10px;
}

.player-pick-em-hr {
  margin: 0px;
}
.player-pick-em-diagonal-line-one {
  margin-left: -30px;
  margin-top: -30px;
  padding: 0px 40px 80px 0px;
  position: absolute;
  opacity: 1;
  transform: rotate(45deg);
}

.player-pick-em-diagonal-line-two {
  margin-left: 3px;
  margin-top: 3px;
  padding: 0px 10px 90px 0px;
  position: absolute;
  opacity: 1;
  transform: rotate(45deg);
  z-index: 1;
}

.player-pick-em-image {
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  z-index: 1;
}

.player-pick-em-name {
  font-weight: 600;
}

.player-pick-em-stats {
  padding-bottom: 8px;
  text-align: center;
}

.player-pick-em-button-container {
  display: flex;
  gap: 2px;
  margin-left: auto;
}

.player-pick-em-card-button {
  border-radius: 10px;
  height: 40px;
  font-size: 16px;
  width: auto;
  padding: 0px 6px;
}

.player-pick-em-card-button:active {
    background-color: #393939;
    color:#f0f0f0;
  }
