.section-two-container {
  background-color: lightgray;
  color: #1b1b1b;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  column-gap: 25px;
}

.section-two-phone-image {
  height: 260px;
  width: auto;
}

.section-two-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-two-h2 {
  font-family: Kanit, sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: 43px;
  margin-bottom: auto; /* Pushes p tag to end of parent element */
  text-transform: uppercase;
}

.section-two-p {
  font-family: roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  max-width: 136px;
}
