.text-carousel {
  align-items: center;
  background-color: #1b1b1b;
  color: #f0f0f0;
  display: flex;
  font-family: Kanit, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
}

.text-carousel p {
  animation: scroll-left 20s linear infinite;
  min-width: 200%;
  will-change: transform; /* notifies browser ahead of time about which properties of an elements are expected to change */
  margin: 0;
  white-space: nowrap;
  will-change: transform;
}

.tilde {
  font-family: Roboto, sans-serif;
  margin-left: 6px;
  margin-right: 6px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}
