.content {
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(224, 180, 0);
  font-family: Kanit, sans-serif;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bold;
}

label {
  color: #1b1b1b;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-align: start;
}

.password-reset-link {
  color: #6b6b6b;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: end;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 0.5rem;
  padding: 0.25rem 3rem;
  width: fit-content;
}

.sign-up-message {
  font-size: 1rem;
  font-weight: bold;
}

.sign-up-link {
  color: #0ea023;
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 0.75em;
}

.responsible-gaming-container {
  background: linear-gradient(to bottom right, #d8d8d8, #d8d8d8, #ffe47a);
}

.responsible-gaming-terms {
  max-width: 340px;
}

.color-gold {
  color: #ad8b00;
}

.responsible-gaming-terms b {
  padding-bottom: 100px; /* FIX somehting is overwriting it */
}

.center {
  margin: auto;
  text-align: center;
}

.color-yellow-rgb {
  color: rgb(224, 180, 0);
}
