.slick-dots{
  bottom:0px;
  background-color: #1b1b1b;
}

.magic-dots.slick-dots li.slick-active button:before{
  color: #e0b400;
}

.slick-dots li button:before {
  color: lightgray;
}

div{
  color:red;
}  