.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-h1 {
  color: rgb(224, 180, 0);
  font-family: Kanit, sans-serif;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bold;
}

.login-input-label {
  color: #1b1b1b;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-align: start;
}

.login-forgot-password {
  color: #6b6b6b;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: end;
  text-decoration: none;
}

.sign-up-message {
  font-size: 1rem;
  font-weight: bold;
}

.sign-up-link {
  color: #0ea023;
  font-size: 1rem;
  font-weight: bold;
}

.login-terms {
  font-size: 0.75em;
}
